@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
  }
  label, select, input, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  #resultado {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
  }